[Www]
BaseUrl: https://www.example.com
VirtualDir: LectureMT
WwwDir: /home/user/public_html/LectureMT

[RestApi]
SwaggerCodegenHome: /home/user/swagger-codegen-3.0.3
ApiDocOutputDir: /tmp/api

[Server]
Host: localhost
Port: 46000 
LanguagePairs: ja-en,en-ja

[RabbitMQ]
Host: rabbit
Port: 51011
Username: lecturemt
Password: *******
